@import url('normalize.css');
@import url('bootstrap.min.css');
body, 
html{
	height: 100%;
	width: 100%;
	font-size: 16px;
	position: relative;
}
.login{
	width: 300px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgba(255,255,255,0.5);
}

.sidebar{
	height: 100%; /* 100% Full-height */
	width: 20%; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color:rgba(192,192,192,0.5);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	padding: 15px;
}

.menu{
	background-color:rgba(255,255,255,0.5);
	height: 100%; /* 100% Full-height */
	width: 80%; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 20%;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	padding: 15px;
}